<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/31e1fe7071.js"></script>
    <script src="node_modules/moment/min/moment.min.js"></script>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="app/app.module.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/app.constants.js"></script>
    <script src="app/auth/auth.controller.js"></script>
    <script src="app/auth/auth.service.js"></script>
    <script src="app/project/projectList.js"></script>
    <script src="app/project/projectDetail.js"></script>
    <script src="app/project/project.service.js"></script>
    <script src="app/task/taskList.js"></script>
    <script src="app/task/taskDetail.js"></script>
    <script src="app/task/task.service.js"></script>
    <script src="app/comment/commentList.js"></script>
    <script src="app/comment/commentDetail.js"></script>
    <script src="app/comment/commentForm.js"></script>
    <script src="app/comment/comment.service.js"></script>
    <script src="app/deadline/deadline.service.js"></script>
    <script src="app/utils/autofocus.directive.js"></script>
    <script src="app/utils/loading.directive.js"></script>
  </head>
  <body ng-app="app">
    <header>
      <nav class="navbar navbar-light justify-content-between" ng-controller="AuthController as auth">
        <a class="navbar-brand" href="">
          <img src="https://s3.eu-central-1.amazonaws.com/stas7t-todo-api/logo/list.png" alt="logo-image" height="50" width="50">
        </a>
        <span class="navbar-text h3 text-dark">
          Simple ToDO List
        </span>
        <span>
          <a href="" class="pull-right text-secondary" ng-click="auth.logOut()" ng-if="auth.isLoggedIn()"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
        </span>
      </nav>
    </header>
    <main>
      <div class="container">
        <div class="row justify-content-center mt-40">
          <div class="col-sm-12 col-md-10 col-lg-8">
            <ui-view></ui-view>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
