<section class="mb-2" ng-switch="projectDetail.editMode">
  <div class="container " ng-switch-default>
    <div class="row project" ng-class="{'project-show-tasks': projectDetail.showTasks}">
      <div class="col py-2" >
        <a data-toggle="collapse" href="#collapseTasks-{{projectDetail.project.id}}" aria-expanded="true" aria-controls="collapseTasks-{{ projectDetail.project.id }}" class="nodecor">
          <i class="fa fa-caret-right fa-lg" ng-class="{'fa-rotate-90': projectDetail.showTasks}" ng-click="projectDetail.toggleTasksView()" aria-hidden="true"></i>
          <span class="pl-2 text-secondary font-weight-bold" ng-click="projectDetail.toggleTasksView()">{{ projectDetail.project.name }}</span>
        </a>
      </div>
      <div class="p-2 project-actions">
        <a href="" ng-click="projectDetail.edit()"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
        <a href="" ng-click="projectDetail.delete()"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div id="collapseTasks-{{ projectDetail.project.id }}" class="collapse" ng-switch-default>
    <task-list project="projectDetail.project"></task-list>
  </div>

  <form ng-switch-when="true" ng-submit="projectDetail.save()">
    <div class="form-group">
      <input type="text" class="form-control rounded-0" ng-model="projectDetail.project.name" autofocus required>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Save</button>
      <button class="btn btn-light" type="button" ng-click="projectDetail.reset()">Cancel</button>
    </div>
  </form>
</section>
