<div ng-controller="ProjectController as projectCtrl">
  <ul>
    <li ng-repeat="project in projectCtrl.projects"> 
      [{{ project.id }}] {{ project.name }}
      <a href="" class="btn btn-danger btn-sm" ng-click="projectCtrl.deleteProject(project)">&times;</a>
      <form ng-submit="projectCtrl.editProject(project)">
        <input type="text" name="name" value="project.name" ng-model="project.name">
        <button type="submit">Edit</button>
      </form>

      <div ng-controller="TaskController as taskCtrl" >
        <ul>
          <li ng-repeat="task in taskCtrl.tasks">
            [{{ task.id }}] {{ task.name }} (project_id: {{taskCtrl.p_id}} - {{task.project_id}})
            <a href="" class="btn btn-danger btn-sm" ng-click="taskCtrl.deleteTask(task)">&times;</a>
          </li>
        </ul>
      </div>

    </li>
  </ul>
  <form ng-submit="projectCtrl.addProject(projectCtrl.newProject)">
    <input type="text" name="name" value="" ng-model="projectCtrl.newProject.name">
    <button type="submit">Add project</button>
  </form>
</div>
